<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body style="background: #000;">
 <div class="login">
	<h1>COVD-19 CLASSIFICATION TEST MACHINE</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Fever Temperature" placeholder="Degree C" required="required" />
        <input type="text" name="Age" placeholder="Age in year" required="required" />
        <input type="text" name="Breathing Problem" placeholder="Breathing probelm Yes :1 & No: 0" required="required" />
		<input type="text" name="Bodypain" placeholder="bodypain Yes :1 & No: 0" required="required" />
		<input type="text" name="running noise" placeholder="running nose Yes :1 & No: 0" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Covd19 Result </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>